@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --primary-color:#f5f9fa;
    --secondary-color:#ebf3f5;
    --text-color: black;
    --shadow-color: #c0c6c9;
    --nav-color:#36bed9 ;
}

.dark-theme{
    --primary-color:#202122;
    --secondary-color:#272a2b;
    --text-color: #f5f9fa;
    --shadow-color: #373737;
    --nav-color: #006a80;
}



body{
    margin: 0;
    font-family: "Roboto";
    background: linear-gradient(var(--primary-color),var(--secondary-color));
    
}


.nsSup{
	background-image: url(https://images.unsplash.com/photo-1642235558212-3abbae1aeaba?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=480&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MzMzMzMyNA&ixlib=rb-1.2.1&q=80&w=640);
    background-position: center center;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgb(107 114 128/0.5);

    min-height: 166px
}

/*Letras nav*/





.ns{
	display: inline-block;
	font-family: 'Montserrat';
	white-space: nowrap;
	 overflow: hidden;
	-webkit-animation: typing 2s steps(20), blink .5s infinite step-end alternate;
	color:white;
	
    font-weight: 600;
}

.n1{
  
	width: 23ch;
	font-size: 3rem
}

.n2{
  display:none;
  width:20ch;
  font-size: 2rem  
  
}





@-webkit-keyframes typing {
	0%{width:0;border-right: 4px solid;}
	100%{border-right: 4px solid;}
}

@keyframes blink {
	50% { border-color: transparent}
	
}
/*a*/
a{
    text-decoration: none;
}




h2{
    font-weight: 200;
    letter-spacing: .3rem;
    font-size:36px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.txtnav{
    color: #f5f9fa !important;
font-size: 17px;
font-family: montserrat;
flex: auto;
}

nav{
    background-color: var(--nav-color);
    box-shadow: 0 0 10px 1px #4b4c4d;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 !important;
}

 .nav-link{
    color: #f5f9fa !important;   
    
}

.nav-link:hover{
    color: #323333  !important;
}

.nav-item:hover{
    background-color:  white;
}


.nav-link.active{
    background-color:#27b3ce;
}


.section{
    text-align: center;
    padding-top: 4rem;
    padding-bottom:4rem;
}

#Habilidades{
    background-color:var(--nav-color) ;
}


/*hr*/

/*hidden hr*/
.hrh{
    display:none;
}

#hr,#hr2,#hr1{
    position: relative;
    top: 41%;
    height: .1rem !important;
    max-width: 100%;
    border: 0;
    background-image: -webkit-linear-gradient(left,transparent,#00bbe0,transparent);
    background-image: -o-linear-gradient(left,transparent,#00bbe0,transparent);
    background-image: linear-gradient(to right,transparent,#00bbe0,transparent);
    color: transparent;
    background-color: transparent;
    opacity: 1;
    width: 100%;
}

#hr1{
    top:0;
}
    
#hr2{
    top:0;
    background-image: -webkit-linear-gradient(left,transparent,white,transparent);
    background-image: -o-linear-gradient(left,transparent,white,transparent);
    background-image: linear-gradient(to right,transparent,white,transparent);
}


/*Portfolio*/
.btnA{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 399px;
    -webkit-box-shadow: 0 0 10px var(--shadow-color);
    box-shadow: 0 0 10px var(--shadow-color);
}

.resp-img{
    height: 356px;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    object-position: left top;
    object-fit: cover;
}


.zoom{
    overflow:hidden;
    background-color: #047086;
}
  
.zoom img{
    transition: ease-in-out .3s;
}

.txtPort{
text-decoration: none;
color: white;
position: absolute;
bottom: -6%;
left: 22%;
font-size: 35px;
font-family: Montserrat;
opacity: 0;
visibility: hidden;
transition: all 0.3s ease-in-out 0s;
}

#texto{
    left: 25%;
}

.tooltip-inner {
    background-color:  rgba(31, 28, 28, 0.87);
    font-size: 20px;
}

.btnA:hover .resp-img{
    opacity: 0.5;  
    transform: scale(1.1);
    cursor: pointer;
    background:  #047086;
}

.btnA:hover .txtPort{
    opacity: 1;
    transform: translate(0,-40px);
    background: rgba(31, 28, 28, 0.048);
    transition: all ease-in-out .3s;
    visibility: visible;
}
.btnA:hover{
    box-shadow: 0 0 10px var(--shadow-color);
    -webkit-box-shadow: 0 10px 10px var(--shadow-color) ;
}



.modal-content{
    width: 80% !important;
}

.modal-open .modal, .modal-open{
    padding-right: 0px !important;
}

.modal-dialog{
    max-width: 100%;
}

  
.modal.show .modal-dialog {
    justify-content: center;
    display: flex;
}


.fade {
    transition: opacity 0s linear !important;
}

.hfooter{
    font-family: Roboto;
    font-weight: 400;
}



/*Habilidades*/
img{
    border: 0;
    vertical-align: middle;
}

.image-container{
    padding: 1rem;
}

.SVG{
    width: 6.25rem;
max-width: 100%;
-webkit-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
border-radius: 1rem;
box-shadow: 5px 5px 2px;
}

.pad{
    margin-top: 4rem;
}

.eap{
    font-size: 30px;
    display: inline !important;
    margin-right: 5rem;
    font-family: 'Montserrat', 'sans-serif';
}


/*Experiencia*/

.exp{
    width: 200px;
background-color: #36bed9;
padding: .5rem;
border-radius: 10px;
height: 200px;
opacity: 1;
transition: opacity 0.4s ease-in-out;
-webkit-transition: opacity 0.4s ease-in-out 0s;
}

.card{
      width:200px;
      height:200px;
      position: relative;
      background-color: transparent;
      transition: transform .8s;
      transform-style: preserve-3d;
      border-radius: 1rem!important;
      cursor: pointer;
    }
    .card.active {
      transform: rotateY(180deg);
      cursor: pointer;
    }
    .front, .back{
      width:100%;
      height:100%;
      background-color: white;
      position: absolute;
      border-radius: 14px;
      backface-visibility: hidden;
      display: table-row;
      justify-content: center;
    }

    .img{
      width:100px;
      height:100px;
    }

    .back{
      transform: rotateY(180deg);
      background: #fff;
      padding-top: 3.5rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      -webkit-box-shadow: 0 10px 10px var(--shadow-color);
    }

/*------*/


.footer{
    background-color: rgba(0, 0, 0, 0.79);
    padding: 1.5rem;
    text-align: center;
}

.txtF{
    color: #f5f9fa;
    font-size: 85%;
    font-weight: 300;
    letter-spacing: 2px;
}

.linkedin{
    font-size: 17px;
    color:#f5f9fa;
    border-radius: 30px;
    padding: 0.5rem;
    background: #23527c;
}

.linkedin:hover{
    color:#23527c;;
    background: #f5f9fa;
}

/*hidden*/

@media only screen and (max-width:768px){
    
.col-xs-4 {
    width: 33.33333% !important;
}


    .n1{

	font-size: 2rem!important;
    }

    .n2{
	font-size:1.5rem;
     }
}


@media only screen and (max-width:469px){
    .eap{
        margin-right: 0;
        font-size: 24px;
    }

    #current{
        width: 27.485%;
    }

}


@media only screen and (max-width:427px){
    .n1{
	  width:20ch!important;
	  font-size:1.5rem!important;
     }
    
     .n2{
	     font-size:1.2rem!important;
     }
	
     .nsSup{
	min-height:128px!important;
	}

}


@media only screen and (max-width:376px){
	#live{
	    height:93.06px;
	}
}

@media only screen and (max-width:324px){
	#live{
	    height:74.66px;
	}
}
